
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cubos | NFT</title>
  <link rel="stylesheet" href="/components/css/style.css">
</head>
<body>
  <section>
    <div>
      <img src="imagem" alt="" srcset="/components/image/image-equilibrium.jpg">
    </div>
    <div class="title">
      <h1>Cubos #0001</h1>
      <h3>Our Cubos collection promotes balance and calm.</h3>
    
    </div>
  <div>
    <div class="eth">
      <svg width="11" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M11 10.216 5.5 18 0 10.216l5.5 3.263 5.5-3.262ZM5.5 0l5.496 9.169L5.5 12.43 0 9.17 5.5 0Z" fill="#00FFF8"/></svg>
      0.005 ETH 
    </div>
    <div class="days">    
      <p><svg width="17" height="17"   xmlns="http://www.w3.org/2000/svg"><path d="M8.305 2.007a6.667 6.667 0 1 0 0 13.334 6.667 6.667 0 0 0 0-13.334Zm2.667 7.334H8.305a.667.667 0 0 1-.667-.667V6.007a.667.667 0 0 1 1.334 0v2h2a.667.667 0 0 1 0 1.334Z" fill="#8BACD9"/></svg>
      3days left</p>
      
    </div>
    <hr>
  </div>
  <div class="tchalacy">
    <img class="maluco" src="/components/image/image-avatar.png" alt="avatar"><p>Creation of <b>Tchalacy</b></p>
  </div>
  </section>
  <footer>
    <p>&copy; Tchalacy</p>
  </footer>
</body>
</html>